<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6">
      <h1 class="text-center">Stupid Coaching</h1>
      <p>Ask your coach anything: </p>
      <form action="/answer">
        <div class="input-group">
          <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2" name="question">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Ask!</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
